 .nike {
                  font-size: 20px;
                  font-weight: bold;
            }

            .stock {
                  font-size: 15px;
                  color: rgb(0, 118, 0);
            }

            .a {
                  color: rgb(0, 113, 133);
            }

            .free {
                  font-size: 15px;
            }

            .button-container {
                  display: flex;
                  gap: 15px;
                  align-items: flex-start;
            }

            .btn-group {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
            }

            .status-text {
                  width: 95px;
                  font-size: 10px;
                  color: rgb(0, 118, 0);
                  font-weight: bold;
                  opacity: 0;
                  transition: opacity 0.3s ease;
                  margin-bottom: 0px;
                  white-space: nowrap;
                  text-align: center;
                  margin-right: 5px;
            }

            .status-text.show {
                  opacity: 1;
            }

            #cart,
            .buy {
                  border-radius: 20px;
                  border: none;
                  height: 25px;
                  width: 95px;
                  font-size: 12px;
                  cursor: pointer;
                  transition: opacity 0.15s;
                  margin: 0;
                  box-sizing: border-box;
            }

            #cart {
                  background-color: rgb(255, 216, 20);
            }

            #cart:hover {
                  opacity: 0.7;
            }

            #cart:active {
                  opacity: 0.5;
            }

            .buy {
                  background-color: rgb(255, 164, 28);
            }

            .buy:hover {
                  opacity: 0.7;
            }

            .buy:active {
                  opacity: 0.5;
            }